$brand: #06b2a7;
$brand-secondary: #6dbb75;
$brand-background: #ffffff;

$brand-gradient: linear-gradient(59.08deg, #6dbb75 7.44%, #06b2a7 86.89%);

$primary-default-text: #434343;
$secondary-default-text: #848282;
$tertiary-default-text: #d2d2d2;

$primary-dark-text: #ffffff;
$secondary-dark-text: #faf9f9;
$tertiary-dark-text: #f0efeb;

$brand-default-background: #ffffff;
$brand-dark-background: #202020;
