@import "./common/fonts";
@import "./common/colors";
@import "./common/layout";

:root {
  --primary-text: #{$primary-default-text};
  --secondary-text: #{$secondary-default-text};
  --tertiary-text: #{$tertiary-default-text};
  --brand-background: #{$brand-default-background};
}

.dark {
  --primary-text: #{$primary-dark-text};
  --secondary-text: #{$secondary-dark-text};
  --tertiary-text: #{$tertiary-dark-text};
  --brand-background: #{$brand-dark-background};
}

body {
  @include p;
  @include container;
  background: var(--brand-background);
  color: var(--primary-text);
  padding: 40px 0;
}

.app__container {
  &--header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h1 {
      @include h1;
    }

    button {
      cursor: pointer;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      background-color: var(--tertiary-text);
      box-shadow: 0px 0px 2px var(--tertiary-text);
    }
  }

  &--profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-image {
      position: relative;
      width: 400px;
      height: 600px;
      img {
        position: absolute;
        bottom: 0;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        z-index: 1;
      }
      .bg-box {
        position: absolute;
        bottom: 0;
        width: 400px;
        height: 275px;
        background: $brand-gradient;
        border-radius: 40px;
      }
    }
    h5 {
      @include h5;
      color: $brand;
    }
  }
}
